@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.bg-container {
    background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/travel-sm-bg.png');
    background-size: cover;
    min-height: 100vh;
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-section {
    color: #ffffff;
    width: 90%;
    max-width: 850px;
    text-align: center;
}

.heading {
    font-size: 34px;
}

.description {
    font-size: 18px;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.button {
    background-color: #ffffff;
    width: 250px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 34px;
    padding-right: 34px;
    margin-top: 20px;
    border: 0;
    color: #183b56;
    font-weight: 600;
    font-size: 16px;
    border-radius: 20px;
}

.know-btn {
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
}

@media screen and (min-width: 768px) {
    
    .bg-container {
        background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/travel-md-bg.png');
    }
    
    .heading {
        font-size: 40px;
    }
    
    .description {
        font-size: 22px;
    }
    
    .button-container {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .button {
        margin-right: 10px;
    }
}